{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>джирорп господи прости</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<div class="burger-menu">
    <a href="#" class="burger-menu_button">
        <span class="burger-menu_lines"></span>
    </a>

    <nav class="burger-menu_nav">
        <a href="{% url 'tests' %}" class="burger-menu_link">Угадайки</a>
        <a href="{% url 'artists' %}" class="burger-menu_link">Художники</a>
        <a href="{% url 'styles_info' %}" class="burger-menu_link">Стили</a>
        <a href="#" class="burger-menu_link">Личный кабинет</a>
        <a href="#site_info" class="burger-menu_link">О сайте</a>
    </nav>

    <div class="burger-menu_overlay"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'css/script.js'%}"></script>

</div>


<div class="header">
    <div class="container">
        <div class="header_inner">

            
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="intro_title">
            <div class="guesswhopainted">
                <table>
                <tr>
                    <td><h1 style="color:#2F7AA5;">G</h1></td>
                    <td class="help">⠀guess</td>
                </tr>
                <tr>
                    <td><h1 style="color:#fff;">W</h1></td>
                    <td class="help">⠀who</td>
                </tr>
                <tr>
                    <td><h1 style="color:#DA8A12;">P</h1></td>
                    <td class="help">⠀painted</td>
                </tr>
            </table>
            <img class="image_1" src="https://n1s2.hsmedia.ru/44/52/21/44522148efc39d5ad9b8dc6141740461/3295x1862_0xac120003_1506263631637850516.jpeg" alt="">
            <img class="image_2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Valentin_Serov_-_%D0%94%D0%B5%D0%B2%D0%BE%D1%87%D0%BA%D0%B0_%D1%81_%D0%BF%D0%B5%D1%80%D1%81%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%92.%D0%A1.%D0%9C%D0%B0%D0%BC%D0%BE%D0%BD%D1%82%D0%BE%D0%B2%D0%BE%D0%B9_-_Google_Art_Project.jpg/1200px-Valentin_Serov_-_%D0%94%D0%B5%D0%B2%D0%BE%D1%87%D0%BA%D0%B0_%D1%81_%D0%BF%D0%B5%D1%80%D1%81%D0%B8%D0%BA%D0%B0%D0%BC%D0%B8._%D0%9F%D0%BE%D1%80%D1%82%D1%80%D0%B5%D1%82_%D0%92.%D0%A1.%D0%9C%D0%B0%D0%BC%D0%BE%D0%BD%D1%82%D0%BE%D0%B2%D0%BE%D0%B9_-_Google_Art_Project.jpg" alt="">
            <img class="image_3" src="http://nou-stupeni.ru/wp-content/uploads/2014/12/natyurmort-Petrova-Vodkina.jpg" alt="">
            </div>
        <div class="godhelp"></div>
        <!-- !!!!!!!!!!! НЕ РАБОТАЕТ БЛИН ССЫЛКА !!!!!!!!!!!!!! -->
            <a href="{% url 'tests' %}"></a>
        </div>
        

    </div>
</div>

<br>


<div class="information">
    <h1><section id='site_info'>Информация о сайте</section></h1>
    <br>
    <br>
    <h3>Веб-приложение с угадайками и тестами по произведениям искусства русских и советских художников для развития
        насмотренности. Сам сайт может быть использован, как и обычными ценителями прекрасного, так и учениками школ и колледжей изобразительных искусств для подготовки к экзаменам.</h3>
    <br>
    <img width="700" src="https://kudago.com/media/images/place/41/aa/41aa8497f4fab26de62b6b68c9f55ed3.jpg" alt="">
    <br>
<!--     <h1><section id='section-2'>Секция 2</section></h1>
    <br>
    <br>
    <br>
    <br>
    <h1><section id='section-3'>Секция 3</section></h1>
    <br>
    <br>
    <br>
    <br>
    <h1><section id='section-4'>Секция 4</section></h1>
    <br>
    <br>
    <br>
    <br>
    <h1><section id='section-5'>Секция 5</section></h1> -->

</div>


<footer>
    <div class="footer-content">
        <h1>Guess Who Painted 2022</h1>
    </div>


    <div class="footer-bottom">
        <h3>Полугодовой проект Златкина Катя</h3>
    </div>
</footer>


</body>
</html>