{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>джирорп господи прости</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>

<div class="header">
    <div class="container">
        <div class="header_inner">
            <div class="nav">
                    <a class="nav_link" href="#">Менюшечка</a>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="intro_title">
            <div class="guesswhopainted">
                <table>
                <tr>
                    <td><h1 style="color:#2F7AA5;">G</h1></td>
                    <td class="help">⠀guess</td>
                </tr>
                <tr>
                    <td><h1 style="color:#fff;">W</h1></td>
                    <td class="help">⠀who</td>
                </tr>
                <tr>
                    <td><h1 style="color:#DA8A12;">P</h1></td>
                    <td class="help">⠀painted</td>
                </tr>
            </table>
            </div>
            
             
        </div>
    </div>
</div>

<br>

<div class="information">
    <h2>Информация о сайте</h2>
</div>


<footer>
    <div class="footer-content">
        <h1>Guess Who Painted 2022</h1>
    </div>


    <div class="footer-bottom">
        <h3>Полугодовой проект Златкина Катя</h3>
        <!-- <p>©2021—2022 project</p> -->
    </div>
</footer>


</body>
</html>