{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Играем!</title>

    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>



<div class="burger-menu">
    <a href="#" class="burger-menu_button">
        <span class="burger-menu_lines"></span>
    </a>

    <nav class="burger-menu_nav">
        <a href="{% url 'tests' %}" class="burger-menu_link">Угадайки</a>
        <a href="{% url 'artists' %}" class="burger-menu_link">Художники</a>
        <a href="{% url 'styles_info' %}" class="burger-menu_link">Стили</a>
        <a href="#" class="burger-menu_link">Личный кабинет</a>
        <a href="#site_info" class="burger-menu_link">О сайте</a>
    </nav>

    <div class="burger-menu_overlay"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'css/script.js'%}"></script>

</div>

<div class="intro_new">
    <div class="header_logo"><a class="logo_link" href="{% url "index" %}">GWP</a></div>
</div>


<body>
<h1>Так, тут будет начинаться уже игра. Дай Бог придумать, как ее написать</h1>
<h1>Ну) Бог дал, Бог - взял, как говорится)</h1>
{{ selected.style }}

{% for painting in paintings %}
<!--            <td><p>{{ painting.id_painting }}</p></td>-->
            <img style="margin-left:500px"  width="300" src=" {{ painting.image }}" alt="">
<!--            <p style="margin-left:500px">{{ painting.name }}</p>-->
<!--            <p style="margin-left:500px">{{ painting.artist }}</p>-->
<!--            <p style="margin-left:500px">{{ painting.style }}</p>-->
<!--            <p style="margin-left:500px">{{ painting.date}}</p>-->
            {% for answer in answers %}
                <p>{{ answer }}</p>
            {% endfor %}

            <td><br></td>
            <td></td>
        </tr>
{% endfor %}

</body>
<footer>
    <div class="footer-content">
        <h1>Guess Who Painted 2022</h1>
    </div>


    <div class="footer-bottom">
        <h3>Полугодовой проект Златкина Катя</h3>
    </div>
</footer>


</body>
</html>
</html>